@charset "utf-8";

@import "vista-variables.scss";

$success-light: hsl(152, 100%, 13%);
$danger-light: hsl(348, 100%, 13%);

$black-temp: $black;
$black: $white;
$white: $black-temp;

$black-bis-temp: $black-bis;
$black-bis: $white-bis;
$white-bis: $black-bis-temp;

$black-ter-temp: $black-ter;
$black-ter: $white-ter;
$white-ter: $black-ter-temp;

$grey-darker-temp: $grey-darker;
$grey-darker: $grey-lighter;
$grey-lighter: $grey-darker-temp;

$grey-dark-temp: $grey-dark;
$grey-dark: $grey-light;
$grey-light: $grey-dark-temp;

$grey-lightest: $grey-darker;


@import "../../node_modules/bulma/bulma.sass";
@import "vista-common.scss";

.is-dark > .panel-heading  {
    background-color: $grey-lighter !important;
    color: $grey-darker !important;
}

.is-dark > .message-body {
    background-color: $grey-lighter !important;
    color: $grey-darker !important;
}

.modal-background {
    background-color: #333333cc !important;
}

button > div > a {
    color: $black !important;
    background-color: $grey-lighter !important;
}

button > div > a:hover {
    color: $black !important;
    background-color: $grey-light !important;
}